aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
certifi==2019.3.9
chardet==3.0.4
charset-normalizer==3.1.0
coverage==4.5.3
Django==2.1.7
django-dbconn-retry==0.1.5
django-dramatiq==0.5.0
django-redis==4.10.0
djangorestframework==3.8.2
dramatiq==1.3.0
entrypoints==0.3
Envelopes==0.4
flake8==3.7.7
flake8-coding==1.3.1
flake8-quotes==1.0.0
frozenlist==1.3.3
gunicorn==19.9.0
idna==2.8
importlib-metadata==6.5.0
jsonfield==2.0.2
mccabe==0.6.1
multidict==6.0.4
openai==0.27.4
otpauth==1.0.1
Pillow==5.4.1
prometheus-client==0.2.0
psutil==5.8.0
psycopg2-binary==2.7.7
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.0
pytz==2018.9
qrcode==6.1
raven==6.10.0
redis==3.2.0
requests==2.21.0
six==1.12.0
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.24.1
XlsxWriter==1.1.5
yarl==1.8.2
zipp==3.15.0